:root {
    --body-bg: #67597A;
    /* english blue */
    --header-bg: #544E61;
    /* chinese blue */
    --main-font: #F0F9F4;
    --text-anchor: #9ddce0;
    /* mint cream */
    --calc-frame-bg: #cac5b9;
    --calc-inner-bg: #242927;
    --calc-inner-rim: #363e3b;
    --calc-rim: #ada9a0;
    --calc-screen-bg: #171b1a;
    --calc-text: #17f1f1;
    --calc-button-fn: #daa266;
    --calc-button-fn-border: #98744d;
    --calc-button-num: #e6e4db;
    --calc-button-num-border: #b1b0a7;
    --calc-button-rim: #1e2221;
}

*,
*::after,
*::before {
    box-sizing: 0;
}
/* CONVERT THE FONTS TO WOFF2 AND ADD A CALLBACK WOFF */
@font-face {
    font-family: DIGITAL;
    src: url("../Assets/fonts/woff2/digital-7\ \(mono\).woff2") format("woff2"),
        url("../Assets/fonts/woff/digital-7\ \(mono\).woff") format("woff"),
        url("../Assets/fonts/ttf/digital-7\ \(mono\).ttf") format("ttf");
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("../Assets/fonts/woff2/JosefinSans-VariableFont_wght.woff2") format("woff2"),
    url("../Assets/fonts/woff/JosefinSans-VariableFont_wght.woff") format("woff"),
    url("../Assets/fonts/ttf/JosefinSans-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../Assets/fonts/woff2/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
        url("../Assets/fonts/woff/RobotoCondensed-VariableFont_wght.woff") format("woff"),
        url("../Assets/fonts/ttf/RobotoCondensed-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../Assets/fonts/woff2/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../Assets/fonts/woff/TitilliumWeb-SemiBold.woff") format("woff"),
    url("../Assets/fonts/ttf/TitilliumWeb-SemiBold.ttf") format("ttf");
}

img {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-bg);
}

header {
    min-width: calc(100dvw - 40px);
    background: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
}


header ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav-link {
    aspect-ratio: 1/1;
    width: 40px;
    padding: 10px;
    transition: transform .1s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.2);
}

main {
    min-height: 100dvh;
    background: var(--body-bg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#calc-lore {
    color: var(--main-font);
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: calc(730px - 100px);
    padding: 20px 10px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.3em;
}


#calc-lore p {
    margin: 10px 5px;
    text-align: justify;
}

#calc-lore a {
    color: var(--text-anchor);
}

#calc-lore a:hover {
    color: rgb(85, 244, 125);
}

#calculator {
    margin: 10px 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-frame {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 650px;
    background: var(--calc-frame-bg);
    border-radius: 5px;
}

#calc-rim {
    background: var(--calc-rim);
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 92%;
    height: 93%;
    border-radius: 27px;
    border: 7px outset var(--calc-rim);
}

#calc-inner-container {
    background: var(--calc-inner-bg);
    display: inherit;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 4px solid var(--calc-inner-rim);
    width: 97%;
    height: 98%;
    border-radius: 20px;
}

#calc-screen-container {
    background: var(--calc-screen-bg);
    width: 99%;
    height: 40%;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#calc-screen {
    width: 85%;
    max-height: 40px;
    text-wrap: nowrap;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 10px;
    color: var(--calc-text);
    font-family: DIGITAL, 'Courier New', Courier, monospace;
    font-weight: 100;
    text-shadow: 0px 0px 5px var(--calc-text);
    letter-spacing: 5px;
    font-size: 3em;
    cursor: default;
    text-align: right;
}

#led-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
}

.screen-led {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    background: rgb(51, 28, 28);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: .9em;
    color: var(--calc-button-num);
}

.led-active {
    background: red;
    box-shadow: 0 0 7px red;
}

#neg-led::before {
    content: 'NEG';
    position: relative;
    bottom: 2px;
    right: 32px;
}

#ovf-led::before {
    content: 'OVF';
    position: relative;
    bottom: 2px;
    left: 15px;
}

#calc-grill-container {
    background: #222827;
    width: 99%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-grill-bar {
    height: 100%;
    background: #191e1d;
    width: 100%;
    margin: 0 2px;
}

#calc-badge-container {
    height: 10%;
    width: 99%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--calc-screen-bg);
    border-radius: 2px;
}

#calc-badge-inner {
    outline: 1px solid var(--calc-inner-rim);
    height: 80%;
    width: 97.5%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sanyo-badge {
    margin-left: 20px;
    padding: 5px 10px;
}

#calc-buttons-wrapper {
    height: 100%;
    width: calc(99% - 20px);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    gap: 1px;
}

.button-function,
.button-num {
    max-height: 55px;
    padding: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 4px solid var(--calc-button-rim); */
    box-shadow: 0px 3px 0px var(--calc-button-rim), 3px 0px 0px var(--calc-button-rim), -3px 0px 0px var(--calc-button-rim);
    border-radius: 10px;
    font-size: 2em;
    font-weight: 400;
    cursor: pointer;
    transition: border 40ms ease-out;
}

.button-function {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    background: var(--calc-button-fn);
    border-bottom: 8px solid var(--calc-button-fn-border);
    border-right: 2px solid var(--calc-button-fn-border);
    border-left: 2px solid var(--calc-button-fn-border);
    border-top: none;
}

.button-function:hover:not(#power-switch-container) {
    background: #e7ae72;
    outline: 2px solid rgb(232, 229, 191);
}

.button-function:active:not(#power-switch-container) {
    border-bottom: 2px solid var(--calc-button-rim);
    border-right: 2px solid var(--calc-button-rim);
    border-left: 2px solid var(--calc-button-rim);
    border-top: 2px solid var(--calc-button-rim);
}

.button-num {
    font-family: 'Titillium Web', 'Courier New', Courier, monospace;
    background: var(--calc-button-num);
    border-bottom: 8px solid var(--calc-button-num-border);
    border-right: 2px solid var(--calc-button-num-border);
    border-left: 2px solid var(--calc-button-num-border);
    border-top: none;
}

.button-num:active {
    border-bottom: 2px solid var(--calc-button-rim);
    border-right: 2px solid var(--calc-button-rim);
    border-left: 2px solid var(--calc-button-rim);
    border-top: 2px solid var(--calc-button-rim);
}

.button-num:hover {
    background: #faf6f7;
    outline: 2px solid rgb(248, 207, 142);
}

#power-switch-container {
    grid-column: span 2;
    height: 50%;
    background: var(--calc-inner-bg);
    box-shadow: none;
    border: 2px solid var(--calc-button-rim);
    outline: none;
    cursor: default;
}


#subs-rslt-btn::before {
    font-family: 'Courier New', Courier, monospace;
    content: '';
    width: 31px;
    height: 2.5px;
    background: black;
    position: relative;
    top: -8px;
    left: 10px;
}

#subs-rslt-btn::after {
    font-family: 'Courier New', Courier, monospace;
    content: '=';
    position: relative;
    top: 9px;
    left: -7.5px;
}

#add-rslt-btn::before {
    font-family: 'Courier New', Courier, monospace;
    content: '=';
    position: relative;
    top: 11px;
    left: 10px;
}

#add-rslt-btn:after {
    font-family: 'Courier New', Courier, monospace;
    content: '+';
    position: relative;
    top: -4px;
    left: -9px;
}

footer {
    margin-bottom: 0;
    color: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

#vertical-bar {
    content: '';
    width: 1.5px;
    height: 5em;
    background: var(--calc-button-rim);
    margin: 0 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: inherit;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    padding-left: 20px;
}